.Container {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 270px;
  background-color: aliceblue;
  transition: all 0.5s ease;
  box-shadow: 0 0 20px rgba(7, 10, 10, 0.6);
}

.Container:hover {
  transform: scale(1.1);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  /* margin: 5px 5px 0 0; */
  border: none;
  background-color:brown;
  color: aliceblue;
}

.button:hover {
  cursor: pointer;
  background-color:aliceblue;
  color: brown;
  /* border: 1px solid brown; */
  transform: scale(1);
}

img {
  width: 200px;
}

.imgContainer {
  display: flex;
  flex-direction: column-reverse;
  /* margin: 0px; */
  align-items: center;
}

.name {
  background-color: rgba(255, 255, 255, 0.6);
  /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.6); */
  position: absolute;
  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
  margin: 0 0 0 0;
}

.propsContainer {
  display: flex;
  justify-content: space-evenly;
  color: rgb(0, 153, 94);
  background-color: rgba(0, 0, 0, 0.2);
  /* margin: 0px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); */
  /* border-radius: 0 0 20px 20px; */
}

.propsContainer h2 {
    margin: 0 0 0 0;
    /* float: right; */
}

.propsContainer:hover {
    /* margin: 0 0 0 0; */
    transition: background-color rgb(170, 48, 48, 0.8);
}
