.bar {
	width: 15%;
}

.randomButton {
	border: 0px;
	border-radius: 10px 0px 0px 10px;
	background-color: var(--color-4);
	height: 3em;
}

.searchInput {
	border: 0px;
	border-radius: 0px 0px 0px 0px;
	background-color: var(--color-4);
	height: 3em;
}

.searchButton {
	border: 0px;
	border-radius: 0px 10px 10px 0px;
	background-color: var(--color-4);
	height: 3em;
}

